
services:

  webserver:
    build:
      context: 'web'
    ports: 
      - 1337:80
    volumes:
      - ./web/public:/var/www/html

  database:
    build:
      context: 'sql'
    ports: 
      - 3306:3306
    environment:
      - MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=1
