
:root {
  --col-main: #0061b6;
  --col-main-dark: #002b53;
  --col-main-light: #BFEFFF;
  --col-alt: #FFD740;
  --col-light-gray: #DDD;
  --col-gray: #373737;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--col-main);
  margin: 0px;
}

nav {
  margin: 0px;
  padding: 10px;
  font-size: 24px;
  background-color: var(--col-main-dark);
  color: var(--col-light-gray);
}
nav a {
  color: var(--col-alt);
  text-decoration: none;
}
nav a:visited {
  color: var(--col-alt);
}

.titolo {
  text-align: center;
  color: #fff;
  margin-top: 20px;
}

.contenitore {
  position: absolute;
  width: 700px;
  transform: translateX(-50%);
  left: 50%;
}

/* BEGIN pannello */
.pannello {
  position: relative;
  margin: 10px;
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 15px;
  border: 4px solid var(--col-alt);
  background-color: var(--col-main-dark);
}
.pannello hr {
  color: var(--col-alt);
}
.pannello h2 {
  font-size: 18px;
  color: var(--col-alt);
}

.pannello ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pannello ul li {
  margin-bottom: 5px;
  background-color: var(--col-main-light);
  border-radius: 5px;
  padding: 10px;
}

/* BEGIN totali */
.pannello .totali {
  display: flex;
  justify-content: space-around;
  font-size: 18px;
  color: var(--col-alt);
}
.pannello .totali div {
  text-align: center;
}
.pannello .totali div span {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--col-main-light);
}
/* END totali */

/* BEGIN box */
.pannello .box {
  position: relative;
  background-color: var(--col-main-light);
  border-radius: 5px;
  padding: 10px;
  padding-bottom: 25px;
}
.pannello .box .basso-dx {
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: var(--col-gray);
  font-size: 14px;
}
.pannello .box .basso-sx {
  position: absolute;
  bottom: 5px;
  left: 10px;
  font-size: 14px;
}
.pannello .box a {
  color: var(--col-main);
  text-decoration: none;
}
.pannello .box a:visited {
  color: var(--col-main);
  text-decoration: none;
}
.pannello .box a:hover {
  color: var(--col-alt);
  text-decoration: none;
}
/* END box */
/* END pannello */



/* BEGIN index.php */
.post .info {
  font-style: italic;
}

.post .likes:before {
  content: '♥';
  color: red;
  font-size: 20px;
}

.utente .data-registrazione {
  font-style: italic;
}
/* END index.php */

/* BEGIN utenti.php */
.barra-di-ricerca {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  height: 40px;
}

.barra-di-ricerca input {
  flex: 1;
  font-size: 20px;
}
.barra-di-ricerca button {
  font-size: 16px;
  background-color: var(--col-main-light);
  padding-left: 10px;
  padding-right: 10px;
}

table {
  width: 100%;
}
table th {
  background-color: var(--col-main-dark);
  color: var(--col-alt);
  font-weight: bold;
}
table tr {
  text-align: center;
}
table tr:nth-child(even) {
  background-color: var(--col-main-light);
  color: var(--col-main-dark);
}
table tr:nth-child(odd) {
  background-color: var(--col-light-gray);
  color: var(--col-main-dark);
}
/* END utenti.php */
